.class-content{
    .topnav{
        a{
            color: $text_color;
            &:hover{
                background-color: $text_color;
                color: #ebcf46;
                border-radius: 10px;
            }
        }
        form{
            width: 100%;
        }
        input{
            font-size: 16px;
            width: 100%;
            border-radius: 5px 0 0 5px;
            border-style: unset;
        }
        button{
            border-style: unset;
            border-radius: 0 5px 5px 0;
            &:hover{
                background-color: #ebcf46;
            }
        }
    }
    .main{
        .content-left{
            width: 60%;
            border-radius: 10px;
            img{
                width: 600px;
                height: 400px;
            }
            .bottom-nav a{
                color: $text_color;
                &:hover{
                    color: #ebcf46;
                }
            }
        }
        .content-right{
            width: 35%;
            a{
                color: $text_color;
                transition: 0.5s all;
                &:hover{
                    color: #BFB595;
                }
            }
            >h3{
                border-radius: 10px 10px 0 0;
                background-color: #ebcf46;
            }
            li:last-child{
                border-radius: 0 0 10px 10px;
            }
            img{
                width: 100px;
                height: 80px;
            }
        }
        .border-bottom{
            border-bottom: 1px solid darkgray;
        }
        .tag{
            flex-wrap: wrap;
            a{
                margin-right: 10px;
                background-color: #D9C76C;
                color: $text_color;
                transition: 0.5s all;
                border-radius: 10px;
                &:hover{
                    background-color: $text_color;
                    color: $primary_color;
                }
            }
        }
    }

}