.class{
    .topnav{
        a{
            color: $text_color;
            &:hover{
                background-color: $text_color;
                color: #ebcf46;
                border-radius: 10px;
            }
        }
        input{
            font-size: 16px;
            width: 100%;
            border-radius: 5px 0 0 5px;
            border-style: none;
        }
        button{
            border-style: unset;
            border-radius: 0 5px 5px 0;
            &:hover{
                background-color: #ebcf46;
            }
        }
    }
    form{
        width: 30%;
        float: right;
    }
    .main{
        margin: 20px 0 0;
        flex-wrap: wrap;
        >li{
            width: 330px;
            margin-bottom: 30px;
        }
        .tag{
            flex-wrap: wrap;
            a{
                margin-right: 10px;
                background-color: #D9C76C;
                color: $text_color;
                transition: 0.5s all;
                border-radius: 10px;
                &:hover{
                    background-color: $text_color;
                    color: $primary_color;
                }
            }
        }
        .go-class{
            color: #ebcf46;
            transition: 0.5s all;
            float: right;
            &:hover{
                color: $primary_color;
            }
        }
        img{
            max-width: 330px;
            height: 200px;
            border-radius: 20px 20px 0px 0px;
        }
    }
    .content{
        border-radius: 0px 0px 20px 20px;
        height: 300px;
        p{
            height: 100px;
        }
    }
    .pagination a{  
        color: $text_color;
        transition: 0.3s all;
        &:hover{
            color: #D9C76C;
        }
        
    }
}