.index{
    .more{
    background: $primary_color;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 7px 12px;
        &:hover{
            color: $second_color;
            background: #1C383E;
        }
    }
    .product__list{
        float: left;
        background: $second_color;
        width: 60%;
        border-radius: 10px;
        .product--title{
            background: #FFF;
            border-radius: 20px 20px 0 0;
        }
        .product--content{
            width: 90%;
            th,td{
                padding: 12px 5px;
            }
            th{
                width: 120px;
            }
        }
    }
    .run__chart{
        float: left;
        background: $second_color;
        width: 35%;
        border-radius: 10px;
         ///到時候放爬來的資料可能會調整寬度
        img{
            width: 80%;
            height: 60%;
        }
        .chart--title{
            padding: 20px;
            margin-bottom: 21px;
            background: #FFF;
            border-radius: 20px 20px 0 0;
        }
    }
    .news{
        float: left;
        background: $second_color;
        width: 60%;
        border-radius: 10px;
        margin: 30px 52px 21px 0px;
        .news--title{
            background: #FFF;
            border-radius: 20px 20px 0 0;
        }
        .news--content li{
            border-bottom: #E3E2DD 1px solid;
            img{
                width: 20%;
            }
            h3{
                color: #226F7D;
            }
            p{
                color: $text_color;
            }
        }
    }
    .discussing__board{
        float: left;
        background: $second_color;
        width: 35%;
        border-radius: 10px;
        .discussing--title{
            background: #FFF;
            border-radius: 20px 20px 0 0;
        }
        .discussing--content li{
            padding: 26px 26px 55px 26px ;
            border-bottom: #E3E2DD 1px solid;
            .Avatars{
                position: relative;
                width: 20%; /* 固定寬度 */
                margin-right: 22px;
                &::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%; /*padding取決於寬度，這裡設定padding-bottom: 100%就可以得到正方形*/
                }
                img{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0; /*將圖片大小固定為父類div的大小*/
                    width: 100%; 
                    height: 100%;
                    object-fit: cover; /* 相當於 background-size: cover; of a background-image */
                    object-position: center;
                }
            }
            h3{
                color: #226F7D;
            }
            p{
                color: $text_color;
            }
        }
    }
}
.robot{
    position: fixed;
    bottom: 10px;
    right: 1%;
    z-index: 99;
    background-image: url(../img/robot3.jpg);
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    box-shadow:  0.1em 0.1em 0.2em rgb(56, 56, 56);
    transition: 0.5s;
    &:hover{
        background-color: rgba(112, 112, 112, 0.4);
        // 設置背景混和模式為相乘模式
        background-blend-mode: multiply;
    }
    
    &::before{
        width: 80%;
        position: relative;
        display: block;
        content: " 搶先體驗!!";
        color: rgb(214, 44, 44);
        text-shadow: 0.1em 0.1em 0.2em rgb(182, 181, 181);;
        font-size: 22px;
        font-weight: bold;
        right: 60%;
        bottom: 35%;
        transform: rotate(-30deg);
    }
}